<div class="h-[calc(100%-88px)] bg-slate-600 text-slate-200 p-4 overflow-auto" data-color-form = "">
  <h1 class="text-5xl font-bold text-white text-center"> <%= yield(:title) %> </h1>
  <%= render 'layouts/color_error_msg' %>
  <div class="flex flex-col items-center justify-center bg-slate-700 rounded-md p-6 sm:w-fit m-auto gap-6 mt-6">
    <input type="color" data-color="" class="m-auto h-32 w-32 rounded bg-slate-400 cursor-pointer">
    <%= form_with model: @color do |form| %>
      <div class= "flex flex-col sm:flex-row justify-center gap-8">
        <div>
          <div class="flex flex-col mb-2">
            <%= form.label :name, "Name:", class: 'text-lg' %>
            <%= form.text_field :name, class: 'text-slate-800 rounded px-1'%>
          </div>
          <div class="flex flex-col">
            <%= form.label :description, "Description:", class:''%>
            <%= form.text_area :description, class: 'text-slate-800 rounded px-1 resize-none'%>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <div class="flex flex-col">
            <%= form.label :hex, "HEX: #", class: 'pointer-events-none' %>
            <%= form.text_field :hex, readonly: true, class: ' text-slate-800 rounded pointer-events-none px-1' %>
          </div>
          <div class="flex flex-col">
            <%= form.label :rgb, "RGB:", class: 'pointer-events-none' %>
            <%= form.text_field :rgb, readonly: true, class: ' text-slate-800 rounded pointer-events-none px-1' %>
          </div>
          <div class="flex flex-col">
            <%= form.label :hsl, "HSL: ", class: 'pointer-events-none' %>
            <%= form.text_field :hsl, readonly: true, class: ' text-slate-800 rounded pointer-events-none px-1' %>
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <%= form.submit yield(:color_submit_text), class: 'bg-slate-300 text-slate-800 text-xl rounded-md mt-6 px-6 py-2 font-medium cursor-pointer hover:ring-2 ring-slate-400'%>
      </div>
    <% end %>
  </div>
</div>
