 <nav class="flex justify-between items-center  h-16 px-16 w-full bg-slate-700">
  <%= link_to "COLOR COLLECTION", root_path, class: "text-white text-2xl font-bold" %>
  <ul class="flex gap-4">
    <li><%= link_to "Home", root_path, class: "text-lg text-slate-200 hover:text-slate-400 font-medium" %></li>
    <li><%= link_to "Colors", colors_path, class: "text-lg text-slate-200 hover:text-slate-400 font-medium" %></h1>
    <li><%= link_to "Add Color", new_color_path, class: "text-lg text-slate-200 hover:text-slate-400 font-medium" %></h1>
    <li><%= link_to "About", '#', class: "text-lg text-slate-200 hover:text-slate-400 font-medium" %></h1>
  </ul>
</nav>
